@model IEnumerable<PlantCareApp.Models.MaintenanceTask>

@{
    ViewData["Title"] = "Maintenance Tasks";
}

<h1>Maintenance Tasks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Task Type</th>
            <th>Date</th>
            <th>Plant Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TaskType</td>
                <td>@item.Date.ToString("yyyy-MM-dd")</td>
                <td>@item.Plant.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TaskId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TaskId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TaskId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
